/* Marimekko button component */

.mari-btn {

    text-align: center;
    letter-spacing: 0.8px;
    line-height: 2;
    outline: none;

    /* Height of different size button*/
    &-xs {
        height: $btnHeightXS;
    }
    &-sm {
        height: $btnHeightS;
    }
    &-md {
        height: $btnHeightM;
    }
    &-lg {
        height: $btnHeightL;
    }
    /* Themes of button */
    &-primary {
        border: 1px solid $accentColour09;
        background-color: $accentColour09;
        color: $background01;
    }
    &-inactive {
        border: 1px solid $borderColour04;
        background-color: $borderColour04;
        color: $accentColour13;
    }
        
}