/* Marimekko button component */

.mari-btn {

    text-align: center;
    letter-spacing: 0.8px;
    padding: 0;
    width: 200px;

    /* Height of different size button*/
    &-xs {
        height: $btnHeightXS;
        line-height: $btnHeightXS;
    }
    &-sm {
        height: $btnHeightS;
        width:  $btnWidthS;
        line-height: $btnHeightS;
    }
    &-md {
        height: $btnHeightM;
        line-height: $btnHeightM;
    }
    &-lg {
        height: $btnHeightL;
        line-height: $btnHeightL;
    }
    /* Themes of button */
    &-primary {
        border: 1px solid $accentColour09;
        background-color: $accentColour09;
        color: $background01;
    }
    &-secondary {
        border: 1px solid $accentColour09;
        background-color: $background01;
        color: $accentColour09;
    }
    &-inactive {
        border: 1px solid $borderColour04;
        background-color: $borderColour04;
        color: $accentColour13;
    }
        
}


button.mari-btn {
    outline: none;
}

/* Dedicated style when using a element as the button, e.g. can prevent wrapper form ele from being triggered*/
a.mari-btn {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

    &:hover, 
    &:focus{
        text-decoration: none; 
        outline: none;
        margin-bottom: 0;
    }

    /* Themes of button */
    &-primary:hover,
    &-primary:focus
        {
        color: $background01;
    }
    &-secondary:hover,
    &-secondary:focus {
        color: $accentColour09;
    }
    &-inactive:hover,
    &-inactive:focus {
        color: $accentColour13;
    }
}