.catalog-product-view {
    .rich-product-page {
        #reserve-overlay {
            .modal-dialog {
                .modal-content {
                    .modal-body {
                        .reserve-form {
                            &--contact {
                                .form-title {
                                    margin-bottom: 10px;
                                }
                                input {
                                    margin-bottom: 10px;
                                }
                                .error-validation-msg {
                                    margin-top: 0;
                                    margin-bottom: 7px;
                                }
                                .reserve-submit {
                                    margin-top: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 767px) {
        .rich-product-page {
            #reserve-overlay {
                .modal-dialog {
                    .modal-content {
                        .modal-body {
                            .reserve-form {
                                &--contact {

                                    > input{
                                        width: 100%;
                                    }

                                    .btn-section {
                                        * {
                                            width: 100%;
                                        }
                                        .reserve-submit {
                                            margin-bottom: 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}