.reserve-btn {
    margin-top: 10px;
}

.reserve-form {
    &--product{

        margin-bottom: 10px;

    }

    &--contact{

        input {
            margin-bottom: 10px;
        }

        .error-validation-msg{
            margin-top: 0;
            margin-bottom: 7px;
        }

        .reserve-submit{
            margin-top: 15px;
        }
    }
}