.reserve-btn {
    margin-top: 10px;
}

.reserve-form {
    &--product{

        margin-bottom: 10px;

        .size-selector{

            .size-list{

                button.size-item{
                    margin: 0 10px 10px 0;
                    display: inline-block;
                    height: 35px;
                    width: auto;
                    min-width: 35px;
                    padding: 0 5px;
                    font-size: 14px;
                    line-height: 35px;
                    color: $accentColour09;
                    background: $background01;
                    border: 1px solid $accentColour09;
                    letter-spacing: 0.08em;

                    &.selected{
                        background: $accentColour09;
                        border-color: $accentColour09;
                        color: $background01;
                    }

                    &[disabled]{
                        background: $background01;
                        color: $borderColour04;
                        border-color: $borderColour04;
                        text-decoration: line-through;
                    }
                }

            }

        }

    }

    &--contact{

        input {
            margin-bottom: 10px;
        }

        .error-validation-msg{
            margin-top: 0;
            margin-bottom: 7px;
        }

        .reserve-submit{
            margin-top: 15px;
        }
    }
}