.catalog-product-view {
    .rich-product-page {

        #reserve-overlay {
            .modal-dialog {
                top: 30%;
                width: 400px;
            }
        }
    }

    @media (max-width: 767px) {
        .rich-product-page {

            #reserve-overlay {
                .modal-dialog {
                    top: 10px;
                    left: 10px;
                    position: relative;
                    transform: none;
                    width: calc(100% - 20px);
                    .modal-content {
                        padding: 10px
                    }
                }
            }
        }
    }
}