.catalog-product-view {
    .rich-product-page {

        #reserve-overlay {
            .modal-dialog {
                top: 30%;
                width: 400px;

                .modal-content {
                    .modal-body {
                        .reserve-form {
                            &--product {
                                margin-bottom: 50px;

                                .size-selector {
                                    ul.size-list {
                                        button.size-item {
                                            margin: 0 10px 10px 0;
                                            display: inline-block;
                                            height: 35px;
                                            width: auto;
                                            min-width: 35px;
                                            padding: 0 5px;
                                            font-size: 14px;
                                            line-height: 35px;
                                            color: $accentColour09;
                                            background: $background01;
                                            border: 1px solid $accentColour09;
                                            letter-spacing: 0.08em;
                                            &.selected {
                                                background: $accentColour09;
                                                border-color: $accentColour09;
                                                color: $background01;
                                            }
                                            &[disabled] {
                                                background: $background01;
                                                color: $borderColour04;
                                                border-color: $borderColour04;
                                                text-decoration: line-through;
                                            }
                                        }
                                    }
                                    select.size-list {
                                        width: 300px;
                                    }
                                }

                                .store {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: flex-start;
                                    align-items: center;
                                    margin-bottom: 30px;
                                    .store-icon {
                                        width: 31px;
                                        height: 28px;
                                        background-image: url(../img/location_icon.svg);
                                        background-repeat: no-repeat;
                                        background-size: contain;
                                        background-origin: content-box;
                                        position: relative;
                                        top: -2px;
                                    }
                                    .store-info {
                                        &--name {
                                            font-weight: bold;
                                        }
                                        &--phone {
                                            font-size: 12px;
                                            letter-spacing: 1px;
                                            padding-top: 4px;
                                        }
                                    }
                                }

                                .product-attribute {
                                    position: relative;

                                    > div {
                                        float: left;
                                    }
                                    
                                    .left-side {
                                        .product-img {
                                            width: 100%;
                                            height: auto;
                                            display: inline-block;
                                        }
                                    }

                                    .right-side{

                                        .attribute-selector{
                                            position: absolute;
                                            bottom: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 767px) {
        .rich-product-page {

            #reserve-overlay {
                .modal-dialog {
                    top: 10px;
                    left: 10px;
                    position: relative;
                    transform: none;
                    width: calc(100% - 20px);

                    .modal-content {
                        padding: 38px 10px 10px;
                        .modal-body{
                            .reserve-form{
                                &--product{
                                    margin-bottom: 30px;

                                    .product-attribute{
                                        .left-side{
                                            width: 80px;
                                        }
                                        .right-side{
                                            width: calc(100% - 81px);
                                            padding-left: 10px;

                                            .product-name {
                                                h1 {
                                                    margin: 0;
                                                    font-size: 16px;
                                                    line-height: 26px;
                                                    font-weight: 700;
                                                    letter-spacing: 0.5px;
                                                    .product-secondary-name {
                                                        font-weight: 400;
                                                        display: inline-block;
                                                    }
                                                    .product-color-variant {
                                                        display: none;
                                                        margin-top: 10px;
                                                        font-size: 14px;
                                                        line-height: 21px;
                                                        font-weight: 400;
                                                        color: $accentColour13;
                                                    }
                                                }
                                            }

                                            .product-price {
                                                display: inline-block;
                                                letter-spacing: 0.5px;
                                                margin-top: 5px;

                                                p {
                                                    margin: 0;
                                                }

                                                .old-price {
                                                    display: inline-block;
                                                    color: #aaaaaa;
                                                    text-decoration: line-through;
                                                }
                                                .special-price {
                                                    display: inline-block;
                                                }
                                                .regular-price .price {
                                                    color: #000000;
                                                    font-weight: bold;
                                                }
                                                .special-price .price {
                                                    color: rgb(255, 186, 25);
                                                    font-weight: bold;
                                                }
                                                .old-price .price {
                                                    color: #aaaaaa;
                                                    font-weight: normal;
                                                }
                                                .ysmy-item .price,
                                                .ysmy-product .price {
                                                    color: #e40079;
                                                }
                                            }

                                        }
                                    }

                                }

                                &--additional{
                                    background-color: $background02;
                                    padding: 33px 10px;
                                    line-height: 1.5;
                                    letter-spacing: 0.8px;
                                }

                            }

                        }
                    }
                }
            }
        }
    }
}