<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Marimekko Inventory Status Component</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="src/css/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="dest/css/global.css" />
    <link rel="stylesheet" href="src/css/lib/select2.min.css">
    <link rel="stylesheet" type="text/css" media="screen" href="dest/css/mari-select2.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="dest/css/inventory.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="dest/css/reserve-collect.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="dest/css/button.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="dest/css/input.css" />
    <script src='src/js/lib/jquery-3.3.1.min.js'></script>
    <script src="src/js/lib/bootstrap.min.js"></script>
    <script src="src/js/lib/select2.min.js"></script>
    <script src="src/js/lib/vue.js"></script>
    <script src="dest/js/inventory.js"></script>
</head>

<body class='catalog-product-view'>
    <div class='rich-product-page'>
        <div class='store-inventory' id='inventory-app'>
            <div class='store-inventory-toggle clearfix'>
                <div class='toggle-icon'></div>
                <div class='toggle-link' @click='toggleDropdown'>Katso saatavuus myymälöissä</div>
            </div>
            <div class='store-inventory-info' v-if='showDropdown'>
              
                <mari-select2 :class="dropDownClass" :options="cityList" @change="switchList">
                </mari-select2>

                <!-- User guidance -->
                <div class='instruction'>
                    <div class='instruction-text'>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    </div>
                    <ul class="instruction-demo">
                        <li class='green'>
                            <span class='icon'></span>Varastossa</li>
                        <li class='orange'>
                            <span class='icon'></span>Vähän jäljellä</li>
                        <li class='red'>
                            <span class='icon'></span>Loppuunmyyty</li>
                    </ul>
                </div>

                <div class="store-list">
                    <template v-if='cityData'>
                        <store-inventory-list
                            v-for='(item, index) in cityData'
                            :store-name='item.title'
                            :contact='item.contact_details'
                            :own-store="typeof item.sizes !== 'undefined'"
                            :opening-hours="item.opening_hours"
                            :country-code='countryCode'
                            :sizes='item.sizes'
                            :key='item.storeId'
                            :index='index'
                        ></store-inventory-list>
                    </template>
                </div>

                 <store-contact-overlay
                    :store-contact="storeContactInfo"
                    v-if="storeContactInfo"
                 ></store-contact-overlay>
                
                 <reserve-collect-overlay
                    v-if="popupReserveForm"
                 ></reserve-collect-overlay>
            </div>
        </div>
    
        <!-- Popup Contact Overlay -->
        <script type="text/x-template" id="store-contact-overlay">
            <!-- Bootstrap Modal component to render pop-up window -->
            <div class="modal fade" id="contact-overlay" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            </button>
                            <div class="modal-title" id="contactModalLabel">{{storeContact.name}}</div>
                        </div>
                        <div class="modal-body contact clearfix">
                            <div class='contact-section'>
                                {{storeContact.address[0]}}<br>
                                {{storeContact.address[1]}}<br>
                                {{storeContact.address[2]}}
                            </div>
                            <br>
                            <div class='contact-section'>Avoinna:
                                <br>Arkisin {{storeContact.openingHours.weekday}}
                                <br>lauantai {{storeContact.openingHours.saturday}}
                                <br>sunnuntai {{storeContact.openingHours.sunday}}
                            </div>
                            <br>
                            <div class='contact-section'>{{storeContact.phone}}</div>
                        </div>
                    </div>
                </div>
            </div>
        </script>

        <!-- Popup Reserve Form Overlay -->
        <script type="text/x-template" id="reserve-collect-overlay">
        
            <!-- Bootstrap Modal component to render pop-up window -->
            <div class="modal fade" id="reserve-overlay" tabindex="-1" role="dialog" aria-labelledby="reserveModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            </button>
                            <div class="modal-title" id="reserveModalLabel">Reserve & Collect</div>
                        </div>
                        <div class="modal-body reserve-form clearfix">
                            <div class='reserve-form--product'></div>
                            <form class='reserve-form--input'>
                                <div>Contact</div>
                                <input type='text' class='mari-input mari-input--text mari-input--text-sm mari-input--text-primary' placeholder="First name *" required>
                                <input type='text' class='mari-input mari-input--text mari-input--text-sm mari-input--text-primary' placeholder="Last name *" required>
                                <input class='mari-input mari-input--text mari-input--text-sm mari-input--text-primary' placeholder="Phone number *" pattern="\+?\d{9,}" required>
                                <input class='mari-input mari-input--text mari-input--text-sm mari-input--text-primary' placeholder="Email address *" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                                <button class='mari-btn mari-btn-lg mari-btn-secondary'>Reserve</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        
        </script>

        <!-- Store inventory block template -->
        <script type="text/x-template" id="store-inventory-template">
    
            <div class='store-item' :class="'store-item--' + productType">
                <div class='store-title'>
                    <span @click="prepareContactDetail" class='store-title-name' title="<?php echo $this->__('Myymälän yhteystiedot');?>">{{storeName}}</span>
                    <span class='store-title-phone'>{{contact.phone}}</span>
                </div>
                <div class='store-status clearfix'>
                    <template v-if="ownStore">
                        <template v-if="productType === 'sizable'">
                            <div class='store-status-item'
                                v-for='size in sizes'
                                :class='getInventoryGroupClass(size.level)'
                            >{{size.product_size}}</div>
                        </template>
                        <div class='store-status-item'
                            :class='getInventoryGroupClass(sizes[0].level)'
                            v-else
                        >{{oneSizeMapping[locale][sizes[0].level]}}</div>
                    </template>
                    <template v-else>
                        <div class="store-status-item--null">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                    </template>
                </div>
                <a @click='prepareReserveForm' class="reserve-btn mari-btn mari-btn-lg mari-btn-secondary">Varaa myymälössä</a>
            </div>
        </script>
    </div>



</body>

</html>