/* Drop-down selection */
/* Inventory status colors */
/* Text input field themes*/
/* button style */
/* Marimekko button component */
.mari-btn {

    text-align: center;
    letter-spacing: 0.8px;
    line-height: 2;
    outline: none;
        
}
/* Height of different size button*/
.mari-btn-xs {
        height: 35px;
    }
.mari-btn-sm {
        height: 40px;
    }
.mari-btn-md {
        height: 45px;
    }
.mari-btn-lg {
        height: 50px;
    }
/* Themes of button */
.mari-btn-primary {
        border: 1px solid #333333;
        background-color: #333333;
        color: #ffffff;
    }
.mari-btn-inactive {
        border: 1px solid #dfdfdf;
        background-color: #dfdfdf;
        color: #989898;
    }