/* Drop-down selection */
/* Inventory status colors */
/* Text input field themes*/
.select2fied.list-size + .select2-container--marimekko .select2-selection--single{
            border: 1px solid #989898;
        }
.product-alert {
    margin-top: 30px;
    line-height: 1.5;
    letter-spacing: 0.8px;


}
.product-alert-title {
        margin-bottom: 10px;
    }
.product-alert-email{
    }
.product-alert-trigger{
        width: 300px;
        margin-top: 15px;
    }