/* Drop-down selection */
/* Inventory status colors */
/* Text input field themes*/
/* Button style */
/* Text input style */
/* Marimekko input component */
/* For text-type input field */
.mari-input--text{
        outline: none;
        padding: 0px 15px;
        letter-spacing: 0.8px;
        margin: 0;

    }
/* Height of different size input*/
.mari-input--text-xs{
            height: 35px;
        }
.mari-input--text-sm{
            height: 40px;
            width: 300px;
        }
.mari-input--text-md{
            height: 45px;
        }
.mari-input--text-lg{
            height: 50px;
        }
/* Themes of input */
.mari-input--text-primary{
            border: 1px solid #989898;
        }
.mari-input--text-error {
            border: 1px solid #d0021b !important;
            background-color: rgba(208, 2, 27, 0.1) !important;
        }
.mari-input--text-warning {
            border: 1px solid #f1c40e !important;
            background-color: rgba(241, 196, 14, 0.1) !important;
        }
.mari-input--text-success{
            border: 1px solid #7ed321;
            background-color: rgba(126, 211, 33, 0.1);
        }
.mari-input--text-informative{
            border: 1px solid #4a90e2;
            background-color: rgba(74, 144, 226, 0.1);
        }
.error-validation-msg{
    margin-top: 7px;
    color: #d0021b;
}