/* Drop-down selection */
/* Inventory status colors */
.wrapper{

    width: 440px;
    margin: 50px auto;
    border: 2px solid #eeeeee;
    padding: 30px 20px;
    background: white;

    

}
.wrapper .store-inventory {
        line-height: 0;
    }
.wrapper .store-inventory-toggle {
            cursor: pointer;
            display: inline-block;
        }
.wrapper .store-inventory-toggle * {
                float: left;
            }
.wrapper .store-inventory-toggle .toggle-icon{
                width:  25px;
                height: 25px;
                padding: 3px 0;
                margin-right: 5px;
                background-image: url(../img/location.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                background-origin: content-box;
            }
.wrapper .store-inventory-toggle .toggle-link{
                line-height: 25px;
                font-weight: bold;
            }
.wrapper .store-inventory-info {
            margin-top: 19px;
            line-height: 22px;
            letter-spacing: 0.8px;




        }
.wrapper .store-inventory-info .city-selector{
                width: 300px;
            }
.wrapper .store-inventory-info .instruction-text{
                    color: #333333;
                    margin-top: 15px;
                }
.wrapper .store-inventory-info .instruction-demo{
                    margin-top: 15px;
                    padding-left: 0;
                    list-style-type: none;
                }
.wrapper .store-inventory-info .instruction-demo li{
                        line-height: 25px;
                    }
.wrapper .store-inventory-info .instruction-demo li .icon{
                            display: inline-block;
                            width: 15px;
                            height: 15px;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                            margin-right: 10px;
                            vertical-align: middle;
                            position: relative;
                            bottom: 2px;
                        }
.wrapper .store-inventory-info .instruction-demo li.green{
                            color: #7ed321;
                        }
.wrapper .store-inventory-info .instruction-demo li.green .icon{
                                background-image: url(../img/check_vihr.png);
                            }
.wrapper .store-inventory-info .instruction-demo li.orange{
                            color: #f1c40e;
                        }
.wrapper .store-inventory-info .instruction-demo li.orange .icon{
                                background-image: url(../img/almost_sold_out.png);
                            }
.wrapper .store-inventory-info .instruction-demo li.red{
                            color: #d0021b;
                        }
.wrapper .store-inventory-info .instruction-demo li.red .icon{
                                background-image: url(../img/sold_out.png);
                            }