/* Drop-down selection */
.wrapper{

    width: 400px;
    margin: 50px auto;
    background-color: #eeeeee;
    padding: 30px 20px;

    

}
.wrapper .store-inventory {
        line-height: 0;
    }
.wrapper .store-inventory__toggle {
            cursor: pointer;
            display: inline-block;
        }
.wrapper .store-inventory__toggle * {
                float: left;
            }
.wrapper .store-inventory__toggle .toggle-icon{
                width:  25px;
                height: 25px;
                padding: 3px 0;
                margin-right: 5px;
                background-image: url(../img/location.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                background-origin: content-box;
            }
.wrapper .store-inventory__toggle .toggle-link{
                line-height: 25px;
                font-weight: bold;
            }
.wrapper .store-inventory__list {
            margin-top: 19px;
        }
.wrapper .store-inventory__list .city-selector{
                width: 300px;
            }