/* Drop-down selection */
*,
*:before,
*:after {
    box-sizing: border-box;
}
/* Marimekko fonts */
@font-face {
    font-family: Marimekko;
    src: url("../fonts/Marimekko-Book.otf") format("opentype");
}
@font-face {
    font-family: Marimekko;
    font-weight: 100;
    src: url("../fonts/Marimekko-Thin.otf") format("opentype");
}
@font-face {
    font-family: Marimekko;
    font-weight: 200;
    src: url("../fonts/Marimekko-Light.otf") format("opentype");
}
@font-face {
    font-family: Marimekko;
    font-weight: 700;
    src: url("../fonts/Marimekko-Bold.otf") format("opentype");
}
@font-face {
    font-family: Marimekko;
    font-weight: 900;
    src: url("../fonts/Marimekko-Black.otf") format("opentype");
}
@font-face {
    font-family: MarimekkoSans;
    src: url("../fonts/MarimekkoSans-Book.otf") format("opentype");
}
@font-face {
    font-family: MarimekkoSans;
    font-weight: 100;
    src: url("../fonts/MarimekkoSans-Thin.otf") format("opentype");
}
@font-face {
    font-family: MarimekkoSans;
    font-weight: 200;
    src: url("../fonts/MarimekkoSans-Light.otf") format("opentype");
}
@font-face {
    font-family: MarimekkoSans;
    font-weight: 700;
    src: url("../fonts/MarimekkoSans-Bold.otf") format("opentype");
}
@font-face {
    font-family: MarimekkoSans;
    font-weight: 900;
    src: url("../fonts/MarimekkoSans-Black.otf") format("opentype");
}
@font-face {
    font-family: 'marimekkobold';
    src: url('../fonts/marimekko-bold-webfont.woff2') format('woff2'), url('../fonts/marimekko-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'marimekkobook';
    src: url('../fonts/marimekko-book-webfont.woff2') format('woff2'), url('../fonts/marimekko-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* Care symbols fonts */
@font-face {
    font-family: CareSymbols;
    src: url('../fonts/caresym-webfont.eot');
    src: url('../fonts/caresym-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/caresym-webfont.woff2') format('woff2'), url('../fonts/caresym-webfont.woff') format('woff'), url('../fonts/caresym-webfont.ttf') format('truetype'), url('../fonts/caresym-webfont.svg#care_symbolsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
html,
body {
    /* Fix for full width images and browsers that display a vertical scrollbar */
    /* Prevent image overflow from causing a horisontal scrollbar */
    overflow-x: hidden
}
body {
    font-family: MarimekkoSans, Arial, Verdana, Sans-serif;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.08em;
    color: #333;
    background-color: #f6f5f3;
}
.mari-select select {
        width: 100%;
    }
/* select2 element mod */
.mari-select .select2-container--default .select2-selection--single {
                    border-radius: 0;
                    height: 45px;
                    border-color: #dfdfdf;

                }
.mari-select .select2-container--default .select2-selection--single .select2-selection__rendered {
                        line-height: 45px;
                    }
.mari-select .select2-container--default .select2-selection--single .select2-selection__arrow {
                        height: 45px;
                    }
.mari-select .select2-container--default .select2-selection--single .select2-selection__arrow b{
                           border: solid black;
                           border-width: 0 1px 1px 0;
                           -webkit-transform: rotate(45deg);
                                   transform: rotate(45deg);
                           padding: 3px;
                        }
.wrapper{

    width: 400px;
    margin: 50px auto;
    background-color: #eeeeee;
    padding: 30px 20px;

    

}
.wrapper .store-inventory {
        line-height: 0;
    }
.wrapper .store-inventory__toggle {
            cursor: pointer;
            display: inline-block;
        }
.wrapper .store-inventory__toggle * {
                float: left;
            }
.wrapper .store-inventory__toggle .toggle-icon{
                width:  25px;
                height: 25px;
                padding: 3px 0;
                margin-right: 5px;
                background-image: url(../img/location.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                background-origin: content-box;
            }
.wrapper .store-inventory__toggle .toggle-link{
                line-height: 25px;
                font-weight: bold;
            }
.wrapper .store-inventory__list {
            margin-top: 19px;
        }
.wrapper .store-inventory__list .inventory-dropdown{
                width: 300px;
            }