/* Drop-down selection */
/* Inventory status colors */
/* Text input field themes*/
/* Button style */
/* Text input style */
.reserve-btn {
    margin-top: 10px;
}
.reserve-form input {
        margin-bottom: 10px;
    }
.reserve-form .error-validation-msg{
        margin-top: 0;
        margin-bottom: 7px;
    }
.reserve-form .reserve-submit{
        margin-top: 15px;
    }