/* Drop-down selection */
/* Inventory status colors */
/* Text input field themes*/
/* Button style */
/* Text input style */
.catalog-product-view .rich-product-page #reserve-overlay .modal-dialog {
                top: 30%;
                width: 400px;
            }
.catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--product {
                                margin-bottom: 50px;
                            }
.catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--product .size-selector ul.size-list button.size-item {
                                            margin: 0 10px 10px 0;
                                            display: inline-block;
                                            height: 35px;
                                            width: auto;
                                            min-width: 35px;
                                            padding: 0 5px;
                                            font-size: 14px;
                                            line-height: 35px;
                                            color: #333333;
                                            background: #ffffff;
                                            border: 1px solid #333333;
                                            letter-spacing: 0.08em;
                                        }
.catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--product .size-selector ul.size-list button.size-item.selected {
                                                background: #333333;
                                                border-color: #333333;
                                                color: #ffffff;
                                            }
.catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--product .size-selector ul.size-list button.size-item[disabled] {
                                                background: #ffffff;
                                                color: #dfdfdf;
                                                border-color: #dfdfdf;
                                                text-decoration: line-through;
                                            }
.catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--product .size-selector select.size-list {
                                        width: 300px;
                                    }
.catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--product .store {
                                    display: flex;
                                    flex-direction: row;
                                    justify-content: flex-start;
                                    align-items: center;
                                    margin-bottom: 30px;
                                }
.catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--product .store .store-icon {
                                        width: 31px;
                                        height: 28px;
                                        background-image: url(../img/location_icon.svg);
                                        background-repeat: no-repeat;
                                        background-size: contain;
                                        background-origin: content-box;
                                        position: relative;
                                        top: -2px;
                                    }
.catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--product .store .store-info--name {
                                            font-weight: bold;
                                        }
.catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--product .store .store-info--phone {
                                            font-size: 12px;
                                            letter-spacing: 1px;
                                            padding-top: 4px;
                                        }
.catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--product .product-attribute {
                                    display: flex;
                                    flex-direction: row;
                                }
.catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--product .product-attribute .left-side .product-img {
                                            width: 100%;
                                            height: auto;
                                            display: block;
                                        }
.catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--product .product-attribute .right-side{
                                        position: relative;
                                    }
.catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--product .product-attribute .right-side .attribute-selector{
                                            width: 100%;
                                            position: absolute;
                                            bottom: 0;
                                        }
.catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--additional{
                                background-color: #f6f5f3;
                                line-height: 1.5;
                                letter-spacing: 0.8px;
                                padding: 88px 35px 40px;
                            }
.catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--additional .contact-info {
                                    margin-top: 30px;
                                }
.catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--additional .contact-info .store-name{
                                        font-weight: bold;
                                    }
@media (max-width: 767px) {
                .catalog-product-view .rich-product-page #reserve-overlay .modal-dialog {
                    top: 10px;
                    left: 10px;
                    position: relative;
                    -webkit-transform: none;
                            transform: none;
                    width: calc(100% - 20px);
                }

                    .catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content {
                        padding: 38px 10px 10px;
                    }
                                .catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--product{
                                    margin-bottom: 30px;

                                }
                                        .catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--product .size-selector select.size-list {
                                            width: 100%;
                                        }
                                        .catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--product .product-attribute .left-side{
                                            width: 80px;
                                        }
                                        .catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--product .product-attribute .right-side{
                                            width: calc(100% - 91px);
                                            margin-left: 10px;

                                        }
                                                .catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--product .product-attribute .right-side .product-name h1 {
                                                    margin: 0;
                                                    font-size: 16px;
                                                    line-height: 26px;
                                                    font-weight: 700;
                                                    letter-spacing: 0.5px;
                                                }
                                                    .catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--product .product-attribute .right-side .product-name h1 .product-secondary-name {
                                                        font-weight: 400;
                                                        display: inline-block;
                                                    }
                                                    .catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--product .product-attribute .right-side .product-name h1 .product-color-variant {
                                                        display: none;
                                                        margin-top: 10px;
                                                        font-size: 14px;
                                                        line-height: 21px;
                                                        font-weight: 400;
                                                        color: #989898;
                                                    }

                                            .catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--product .product-attribute .right-side .product-price {
                                                display: inline-block;
                                                letter-spacing: 0.5px;
                                                margin-top: 5px;
                                            }

                                                .catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--product .product-attribute .right-side .product-price p {
                                                    margin: 0;
                                                }

                                                .catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--product .product-attribute .right-side .product-price .old-price {
                                                    display: inline-block;
                                                    color: #aaaaaa;
                                                    text-decoration: line-through;
                                                }
                                                .catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--product .product-attribute .right-side .product-price .special-price {
                                                    display: inline-block;
                                                }
                                                .catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--product .product-attribute .right-side .product-price .regular-price .price {
                                                    color: #000000;
                                                    font-weight: bold;
                                                }
                                                .catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--product .product-attribute .right-side .product-price .special-price .price {
                                                    color: rgb(255, 186, 25);
                                                    font-weight: bold;
                                                }
                                                .catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--product .product-attribute .right-side .product-price .old-price .price {
                                                    color: #aaaaaa;
                                                    font-weight: normal;
                                                }
                                                .catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--product .product-attribute .right-side .product-price .ysmy-item .price,
                                                .catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--product .product-attribute .right-side .product-price .ysmy-product .price {
                                                    color: #e40079;
                                                }

                                .catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--additional{
                                    padding: 33px 10px;
                                    
                                }
    }
.catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--contact {
                                letter-spacing: 1px;
                                
                            }
.catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--contact .form-title {
                                    margin-bottom: 15px;
                                    font-size: 16px;
                                }
.catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--contact label{
                                    display: block;
                                    margin-bottom: 5px;
                                    line-height: 1.5;
                                }
.catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--contact label:not(:first-of-type){
                                        margin-top: 12px;
                                    }
.catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--contact .form-info{
                                    font-size: 12px;
                                    line-height: 1.75;
                                    margin: 15px 0 28px;
                                }
.catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--contact .error-validation-msg {
                                    margin-top: 10px;
                                }
@media (max-width: 767px) {                                
                                .catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--contact {
                                    margin-bottom: 42px;
                                }

                                    .catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--contact > input{
                                        width: 100%;
                                    }
                                        .catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--contact .btn-section * {
                                            width: 100%;
                                        }
                                        .catalog-product-view .rich-product-page #reserve-overlay .modal-dialog .modal-content .modal-body .reserve-form--contact .btn-section .reserve-submit {
                                            margin-bottom: 20px;
                                        }
    }