.wrapper{

    width: 400px;
    margin: 50px auto;
    background-color: #eeeeee;
    padding: 30px 20px;

    .store-inventory {
        line-height: 0;

        &__toggle {
            cursor: pointer;
            display: inline-block;

            * {
                float: left;
            }

            .toggle-icon{
                width:  25px;
                height: 25px;
                padding: 3px 0;
                margin-right: 5px;
                background-image: url(../img/location.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                background-origin: content-box;
            }

            .toggle-link{
                line-height: 25px;
                font-weight: bold;
            }
        }

        &__list {
            margin-top: 19px;

            select.city-selector {
               width: 300px;
            }

            /* select2 element mod */
            .select2-selection {
                border-radius: 0;
                height : $dropdownDefaultHeight;
                border-color: #dfdfdf;

                &__rendered{
                    line-height : $dropdownDefaultHeight;
                }

                &__arrow{
                    height: $dropdownDefaultHeight;
                }
            }

        }
    }

    

}