.rich-product-page {

    width: 440px;
    margin: 50px auto;
    border: 2px solid #eeeeee;
    padding: 30px 20px;
    background: white;

    .store-inventory {

        &-toggle {
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            height: 25px;

            .toggle-icon{
                width:  25px;
                height: 19px;
                background-image: url(../img/location_icon.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-origin: content-box;
            }

            .toggle-link{
                font-weight: bold;
                position: relative;
                top: 1px;
            }
        }

        &-info {
            margin-top: 19px;
            line-height: $defaultLineHeight;
            letter-spacing: 0.8px;

            .city-selector{
                width: 300px;
            }

            .instruction{
                
                &-text{
                    color: $accentColour09;
                    margin-top: 15px;
                }

                &-demo{
                    margin-top: 15px;
                    padding-left: 0;
                    list-style-type: none;

                    li{
                        line-height: 25px;
                        .icon{
                            display: inline-block;
                            width: 15px;
                            height: 15px;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: contain;
                            margin-right: 10px;
                            vertical-align: middle;
                            position: relative;
                            bottom: 2px;
                        }

                        &.green{
                            color: $inventoryStatusSuccess;

                            .icon{
                                background-image: url(../img/success.svg);
                            }
                        }

                        &.orange{
                            color: $inventoryStatusWarning;

                            .icon{
                                background-image: url(../img/warning.svg);
                            }
                        }

                        &.red{
                            color: $inventoryStatusDanger;

                            .icon{
                                background-image: url(../img/error.svg);
                            }
                        }
                    }
                }

            }

            .store-list{
                line-height: 30px;

                .store-item{
                    .store-title{
                        &-name{
                            font-weight: bold;
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }

                    &--sizable,
                    &--onesize {
                         .store-status {
                             display: flex;
                             flex-flow: row wrap;
                             justify-content: flex-start;
                             
                             &-item {
                                 margin-right: 10px;
                                 
                                 &--green {
                                     color: $inventoryStatusSuccess;
                                 }
                                 &--red {
                                     color: $inventoryStatusDanger;
                                 }
                                 &--orange {
                                     color: $inventoryStatusWarning;
                                 }
                             }
                         }

                    }

                    &--null{
                        padding-bottom: 5px;
                        .store-status{
                            padding-top: 4px;
                            line-height: 21px;
                        }
                    }

                }
            }


        }
    }

    

}