.catalog-product-view {
    
    .rich-product-page {

        .modal{

            &.fade{

                .modal-dialog {

                    &.centred{
                        top: 100px;
                    }
                    
                    .modal-content{
                        border: none;
                        box-shadow: none;
                        border-radius: 0;
                        padding: 30px;
                        position: static;

                        .modal-header{
                            padding: 0;
                            border: none;
                            min-height: initial;
                            font-size: 18px;
                            letter-spacing: 1px;
                            color: $accentColour09;

                            .close-section{
                                position: absolute;
                                top: 10px;
                                right: 10px;
                                text-decoration: none;
                                color: $accentColour09;
                                z-index: 1051;
                                
                                &:hover{
                                    cursor: pointer;
                                }

                                .txt{
                                    font-size: 14px;
                                    position: relative;
                                    top: -3px;
                                    display: inline-block;
                                }

                                .icon {
                                    display: inline-block;
                                    height: 15px;
                                    width: 15px;
                                    background-image: url(../img/close_icon.svg);
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    background-origin: content-box;
                                }
                            }
                            
                        }

                        .modal-body{
                            padding: 0;
                            margin-top: 15px;
                            letter-spacing: 0.8px;
                        }
                    }
                }

            }

        }
    }

    .modal-backdrop.in{
        opacity: 0.2;
    }
}