.catalog-product-view {
    
    .rich-product-page {

        .modal{

            &.fade{

                .modal-dialog {
                    position: fixed;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    margin: 0;
                    width: 300px;
                    
                    .modal-content{
                        border: none;
                        box-shadow: none;
                        border-radius: 0;
                        padding: 30px;
                        position: static;

                        .modal-header{
                            padding: 0;
                            border: none;
                            min-height: initial;
                            font-size: 18px;
                            letter-spacing: 1px;
                            color: $accentColour09;

                            .close-section{
                                position: absolute;
                                top: 10px;
                                right: 10px;
                                text-decoration: none;
                                color: $accentColour09;

                                .txt{
                                    display: none;
                                }

                                .icon {
                                    display: inline-block;
                                    height: 15px;
                                    width: 15px;
                                    background-image: url(../img/close_icon.svg);
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    background-origin: content-box;
                                }
                            }
                            
                        }

                        .modal-body{
                            padding: 0;
                            margin-top: 15px;
                            letter-spacing: 0.8px;
                        }
                    }
                }

            }
            
        }
    }

    .modal-backdrop.in{
        opacity: 0.2;
    }


    @media (max-width: 767px) {
        .rich-product-page {
            .modal {
                &.fade {
                    .modal-dialog {
                        .modal-content {
                            .modal-header {
                                .close-section {
                                    .txt {
                                        font-size: 14px;
                                        position: relative;
                                        top: -3px;
                                        display: inline-block;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}