.rich-product-page {

    .modal{

        &.fade{

            .modal-dialog {
                position: fixed;
                top: 30%;
                left: 50%;
                transform: translate(-50%, -50%);
                margin: 0;
                width: 300px;

                .modal-content{
                    border: none;
                    box-shadow: none;
                    border-radius: 0;
                    padding: 30px;
                    position: static;

                    .modal-header{
                        padding: 0;
                        border: none;
                        min-height: initial;
                        font-size: 18px;
                        letter-spacing: 1px;
                        color: $accentColour09;

                        button.close{
                            position: absolute;
                            top: 15px;
                            right: 15px;
                            height: 15px;
                            width: 15px;
                            background-image: url(../img/close.png);
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-origin: content-box;
                        }
                    }

                    .modal-body{
                        padding: 0;
                        margin-top: 15px;
                        letter-spacing: 0.8px;
                    }
                }
            }

        }
        


    }
}