.select2fied.list-size + .select2-container--marimekko {

    .select2-selection {
        &--single{
            border: 1px solid $accentColour13;
        }
    }

}

.product-alert {
    margin-top: 30px;
    line-height: 1.5;
    letter-spacing: 0.8px;

    &-title {
        margin-bottom: 10px;
    }

    &-email{
    }

    &-trigger{
        width: 300px;
        margin-top: 15px;
    }


}