.mari-input {

    /* For text-type input field */
    &--text{
        width: 300px;
        height: 40px;
        outline: none;
        padding: 10px 15px;
        border: 1px solid $accentColour13;


    }


}