.select2-container--marimekko {
    .select2-selection--single {
        background-color: #fff;
        border: 1px solid #dfdfdf;
        border-radius: 0;
        height: $dropdownDefaultHeight;

        &:focus {
            outline: none;
        }

        .select2-selection__rendered {
            color: $accentColour09;
            line-height: $dropdownDefaultHeight;
            padding-right: 15px;
        }
        .select2-selection__clear {
            cursor: pointer;
            float: right;
            font-weight: bold;
        }
        .select2-selection__placeholder {
            color: $accentColour13;
        }
        .select2-selection__arrow {
            height: $dropdownDefaultHeight;
            position: absolute;
            top: 0px;
            right: 16px;
            width: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            b {
                width: 10px;
                height: 6px;
                background-image: url(../img/arrow_icon.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-origin: content-box;
                position: absolute;
                right: 0;
            }
        }
    }

    &[dir="rtl"] {
        .select2-selection--single {
            .select2-selection__clear {
                float: left;
            }
            .select2-selection__arrow {
                left: 1px;
                right: auto;
            }
        }
    }

    &.select2-container--disabled {
        .select2-selection--single {
            background-color: #eee;
            cursor: default;
            .select2-selection__clear {
                display: none;
            }
        }
    }

    &.select2-container--open {
        .select2-selection--single {
            .select2-selection__arrow {
                b {
                    transform: rotate(180deg);
                }
            }
        }
    }
}